* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.header {
	
	/*margin: 10px;*/
	/*font-size: 2.5em;*/
	/*font-size: 2.91246117975em;	*/
	font-size: 1.8em;
	color: #800000;
	font-family: 'VT323', monospace; 
	word-spacing: -3px;
}
.header h1 {
	font-size: 1.61803398875em;	
	/*float: left;*/
	text-shadow: 2px 2px 1px #ff0000, -1px 0px 0px #d92626;
	display: inline-block;
	margin: 5px 5px 3px;
	padding: 8px 5px 5px;
}
.header h2 {
	font-size: 1.11246117975em;	
	float: right;
	text-shadow: 2px 2px 1px #ff0000;
	display: inline-block;
	margin: 28px 20px 3px;
	padding: 0px 5px 0px;
}
.header:after {
	content: "";
	display: table;
	clear: both;
}
.nav  {
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	font-family: 'VT323', monospace; 
	font-size: 1.8em;
	word-spacing: -8px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 200px;*/
	overflow: hidden;
    background-color: #363030;
}
.nav li {
	float: left;
}
.nav li.right {
	float: right;
}
.nav li a {
	
    display: inline-block;
    color: #e6f3ff;
    padding: 8px 13px;
    text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/* Change the link color on hover */
.nav li a:hover:not(.active) {
    /*background-color: #555;*/
    color: #ff3333;
	text-shadow: 2px 2px 5px red;
}
.nav li .active {
	/*font-size: 1.1em;
	padding: 7px 17px;*/
	color: red;
	background-color: #800000;
	color: #ffe6e6;
	text-shadow: 1px 1px 2px white;
}

.col {
	/*padding: 10px;*/
	float: left;
	min-height: 600px;
	margin-bottom: 40px;
}

.side {
	width: 15%;
}

.mid {
	width: 70%;
	background: white;
	padding: 0px 40px 0px;
	
	border-style: groove;
	margin: 0px;
}
.mid h1 {/*1.61803398875*/
	/*padding: 0px 0px 0px;*/
	font-weight: bold;
	padding: 33.97871376375px 0px 0px;
	font-size: 27.50657780875px;
	/*margin: 0px;*/
}
.mid .sect {
	/*display: block;18.337718539166666666666666666667*/
	
	padding: 0px 12.360679774997093675854341659917px;
	
}
.mid h2 {
	padding: 0px 0px;
	font-weight: 600;
	font-size: 18.337718539166666666666666666667px;
}
.mid p {
	/*font-weight: 700;*/
	padding: 0px 12.360679774997093675854341659917px;
	/*margin: 10px 0px;*/
	font-size: 17px;
	/*font-family: Arial, Helvetica, sans-serif;*/
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	background-color: #800000;
    text-align: center;
    padding: 2px;
}
body {
	/*min-height: 100%px;*/
	 width: 100%;
    height: auto;
	/*background-size: cover;*/
	background: black;
	background-image: url("joke code bg.png");
	
	background: linear-gradient(to bottom, rgba(0,0,0,1) 10px, rgba(255,0,0,0)), url("joke code bg.png");
	/*background-size: 100% 100%;*/
	background-size: cover;
	background-position: left top, right bottom;
	background-attachment: scroll, fixed;
	background-repeat: no-repeat;
	
	
}
